bin
obj
*.user
*.suo
*.cache
*.log
*.resharper
src/RollbarSharp/packages/

# ignore specwatchr
src/RollbarSharp/red.png
src/RollbarSharp/green.png
src/RollbarSharp/sidekick.bat
src/RollbarSharp/sidekickapp.cs
src/RollbarSharp/sidekickapp.exe
src/RollbarSharp/watcher_dot_net.rb
src/RollbarSharp/watchr.bat
src/RollbarSharp/sidekick.bat
src/RollbarSharp/sidekickapp.cs
src/RollbarSharp/sidekickapp.exe
specwatchr-usage.txt
dotnet.watchr.rb
